@mixin button {
  border-radius: 20px;
  border: none;
  line-height: 110%;
  text-decoration-line: none;
  font-size: clamp(0.9375rem, 0.8446rem + 0.381vw, 1.1875rem);
  font-style: normal;
  font-weight: 500;
  transition: all 0.2s ease;
  position: relative;
  display: block;
  padding: 15px 52px;
  cursor: pointer;
}

@mixin primary-button {
  @include button;
  background: #000;
  color: #fff;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #fdd8bb 0%, #db71e0 0.01%, #a25eef 50.89%, #68cbe2 98.89%);
    border-radius: 20px;
    z-index: -1;
  }

  &:hover,
  &:active {
    background: transparent;
  }
}
